<Configuration status="DEBUG">

    <Appenders>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <File name="LogToFile" fileName="/opt/udemy-primeiro-job-spring-batch/logs/log4j2/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>
    <Loggers>

        <Logger name="org.springframework.boot" level="info" additivity="false">
            <AppenderRef ref="LogToConsole" />
        </Logger>

        <Logger name="com.myapps.primeiroprojetospringbatch" level="info" additivity="false">
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="LogToConsole" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="LogToConsole" />
        </Root>


    </Loggers>

</Configuration>

